In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

* Question 1 - display all the header tags from 
‘en.wikipedia.org/wiki/Main_Page’

In [2]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

# page content
soup=BeautifulSoup(page.content)

header_tags = [] # empty list
for header in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    header_tags.append(header.name+" "+header.text.strip())
    
# print all header_tags
header_tags

['h1 Main Page',
 'h1 Welcome to Wikipedia',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages']

Q2 - Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
from https://presidentofindia.nic.in/former-presidents.htm

In [36]:
#Sending a GET request to the URL
response = requests.get("https://presidentofindia.nic.in/former-presidents")
#Parsing the content of HTML using BeautifulSoup
soup = BeautifulSoup(response.text, "html.parser")

#Create an empty list
frm_presidents = []
#Find all the past presidents in the articles on the page
president = soup.find_all('div',class_="desc-sec")

#looping through the contents and extract all the past presidents
for president in soup.find_all('div',class_="desc-sec"):
    name = president.find("h3").text.strip()
    term = president.find("h5").text.strip()
    frm_presidents.append((name, term))

#Creating a DataFrame from the extracted data
df = pd.DataFrame(frm_presidents, columns=["Name", "Term"])

#display result
df

                            Name                     Term
0           Shri Ram Nath Kovind  14th President of India
1          Shri Pranab Mukherjee  13th President of India
2   Smt Pratibha Devisingh Patil  12th President of India
3         DR. A.P.J. Abdul Kalam  11th President of India
4           Shri K. R. Narayanan  10th President of India
5        Dr Shankar Dayal Sharma  9th  President of India
6            Shri R Venkataraman   8th President of India
7               Giani Zail Singh   7th President of India
8      Shri Neelam Sanjiva Reddy   6th President of India
9       Dr. Fakhruddin Ali Ahmed   5th President of India
10  Shri Varahagiri Venkata Giri   4th President of India
11              Dr. Zakir Husain   3rd President of India
12  Dr. Sarvepalli Radhakrishnan   2nd President of India
13           Dr. Rajendra Prasad   1st President of India

Q3- Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

* i) Top 10 ODI teams in men’s cricket along with the records for matches, points and 
rating.

In [8]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page5 = requests.get(url)
# see content in page5
soup5 = BeautifulSoup(page5.content)
#scrape team names
team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
matches = [] #empty list
points = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    matches.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--points'):# first place team points
    points.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    ratings.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):# other teams ratings
    ratings.append(i.text)
    
# Make data frame of top 10 ICC teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team_name,Matches,Points,Ratings
0,India,44,"5,085",116 ...
1,Pakistan,27,"3,102",115
2,Australia,31,"3,464",112
3,South Africa,24,"2,551",106
4,England,29,"3,057",105
5,New Zealand,33,"3,397",103
6,Sri Lanka,38,"3,512",92
7,Bangladesh,35,"3,209",92
8,Afghanistan,21,"1,687",80
9,West Indies,38,"2,582",68

* ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [9]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page6 = requests.get(url)
# see content in page6
soup6 = BeautifulSoup(page6.content)
players = [] #empty list
team_name = [] #empty list
rating = [] #empty list

for i in soup6.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup6.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup6.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup6.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup6.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup6.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC Batsmen
Batsmen=pd.DataFrame({})
Batsmen['Player']=players[:10]
Batsmen['Team']=team_name[:10]
Batsmen['Rating']=rating[:10]
Batsmen

                  Player                     Team Rating
0             Babar Azam  PAK                        857
1           Shubman Gill                      IND    847
2  Rassie van der Dussen                       SA    743
3           Harry Tector                      IRE    729
4            Imam-ul-Haq                      PAK    728
5           David Warner                      AUS    720
6        Quinton de Kock                       SA    714
7       Heinrich Klaasen                       SA    698
8            Virat Kohli                      IND    694
9           Fakhar Zaman                      PAK    692

* iii) Top 10 ODI bowlers along with the records of their team and rating

In [10]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page7 = requests.get(url)

# see content in page7
soup7 = BeautifulSoup(page7.content)

players = [] #empty list
team_name = [] #empty list  
rating = [] #empty list 

for i in soup7.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup7.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup7.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup7.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC bowlers
bowlers=pd.DataFrame({})
bowlers['Player']=players[:10]
bowlers['Team']=team_name[:10]
bowlers['Rating']=rating[:10]
bowlers

             Player                     Team Rating
0    Mohammed Siraj  IND                        680
1    Josh Hazlewood                      AUS    669
2  Mujeeb Ur Rahman                      AFG    657
3       Rashid Khan                      AFG    655
4       Trent Boult                       NZ    654
5    Mitchell Starc                      AUS    639
6        Adam Zampa                      AUS    637
7    Shaheen Afridi                      PAK    632
8        Matt Henry                       NZ    626
9     Kuldeep Yadav                      IND    625

* Question 4 - Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’

* i) Top 10 ODI teams in women’s cricket along with the records for matches, points 
and rating.

In [11]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page8 = requests.get(url)
#see content in page8
soup8 = BeautifulSoup(page8.content)
#scrape team names
womens_team = soup8.find_all("span",class_='u-hide-phablet')
womens_team_name = []
for i in womens_team:
    womens_team_name.append(i.text)
womens_matches = [] #empty list
womens_points = [] #empty list
womens_ratings = [] #empty list
womens_new_list = [] #empty list
for i in soup8.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    womens_matches.append(i.text)
for i in soup8.find_all("td",class_='rankings-block__banner--points'):# first place team points
    womens_points.append(i.text)
for i in soup8.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    womens_ratings.append(i.text.replace("\n",""))
for i in soup8.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    womens_new_list.append(i.text)
for i in range(0,len(womens_new_list)-1,2):
    womens_matches.append(womens_new_list[i]) # other teams matches
    womens_points.append(womens_new_list[i+1]) # other teams points
for i in soup8.find_all("td",class_='table-body__cell u-text-right rating'):# other teams number of matches and ratings
    womens_ratings.append(i.text)
# Make data frame of top 10 ICC teams
womens_icc=pd.DataFrame({})
womens_icc['Team_name']=womens_team_name[:10]
womens_icc['Matches']=womens_matches[:10]
womens_icc['Points']=womens_points[:10]
womens_icc['Ratings']=womens_ratings[:10]
womens_icc

,Team_name,Matches,Points,Ratings
0,Australia,26,"4,290",165 ...
1,England,33,"4,145",126
2,South Africa,30,"3,533",118
3,India,30,"3,039",101
4,New Zealand,29,"2,755",95
5,West Indies,29,"2,743",95
6,Bangladesh,17,"1,284",76
7,Thailand,13,883,68
8,Sri Lanka,14,936,67
9,Pakistan,30,"1,933",64

* ii) Top 10 women’s ODI players along with the records of their team and rating.

In [12]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page9 = requests.get(url)
# see content in page9
soup9 = BeautifulSoup(page9.content)
players = [] #empty list
team_name = [] #empty list
rating = [] #empty list

for i in soup9.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup9.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup9.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup9.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup9.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup9.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 Women's ODI Batting Rankings
top_players=pd.DataFrame({})
top_players['Player']=players[:10]
top_players['Team']=team_name[:10]
top_players['Rating']=rating[:10]
top_players

                 Player                     Team Rating
0  Natalie Sciver-Brunt  ENG                        807
1           Beth Mooney                      AUS    751
2   Chamari Athapaththu                       SL    736
3       Smriti Mandhana                      IND    708
4          Alyssa Healy                      AUS    702
5       Laura Wolvaardt                       SA    696
6      Harmanpreet Kaur                      IND    694
7          Ellyse Perry                      AUS    686
8           Meg Lanning                      AUS    682
9       Stafanie Taylor                       WI    618

* iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [13]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page10 = requests.get(url)

# see content in page10
soup10 = BeautifulSoup(page10.content)

players = [] #empty list
team_name = [] #empty list  
rating = [] #empty list 

for i in soup10.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup10.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup10.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup10.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup10.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup10.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC Women's ODI All-Rounder Rankings
all_rounder=pd.DataFrame({})
all_rounder['Player']=players[:10]
all_rounder['Team']=team_name[:10]
all_rounder['Rating']=rating[:10]
all_rounder

                 Player                     Team Rating
0      Ashleigh Gardner  AUS                        389
1       Hayley Matthews                       WI    382
2        Marizanne Kapp                       SA    361
3  Natalie Sciver-Brunt                      ENG    360
4          Ellyse Perry                      AUS    329
5           Amelia Kerr                       NZ    324
6         Deepti Sharma                      IND    312
7         Jess Jonassen                      AUS    241
8              Nida Dar                      PAK    224
9         Sophie Devine                       NZ    223

Q-5 Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [14]:
#send get request to the webpage server to get the source code of the page
url = "https://www.cnbc.com/world/?region=world"
page7 = requests.get(url)
# see content in page7
soup7 = BeautifulSoup(page7.content)


# creaing empty lists 
time = []
headline = []
newsLink = []

#Iterating over all the news
for i in soup7.find_all("div",class_="LatestNews-container"):
     headline.append(i.find("a",class_="LatestNews-headline").text)  
        
for i in soup7.find_all("div",class_="LatestNews-container"):
     time.append(i.find("time").text)   
        
for i in soup7.find_all("div",class_="LatestNews-container"):
     newsLink.append(i.find("a",class_="LatestNews-headline").get("href"))

In [15]:
#Creating Dataset
data = list(zip(headline,time,newsLink))                                           #zipping data
df = pd.DataFrame(data,columns=["Headline","Time","News Link"])   
df

,Headline,Time,News Link
0,Beyoncé's Renaissance World Tour in talks with...,16 Hours Ago,https://www.cnbc.com/2023/09/30/beyoncs-renais...
1,These are the top 4 Club stocks — and the bott...,17 Hours Ago,https://www.cnbc.com/2023/09/30/these-are-the-...
2,Apple will issue a software update to address ...,17 Hours Ago,https://www.cnbc.com/2023/09/30/apple-will-iss...
3,55-year-old whose side hustle brought in $20K ...,19 Hours Ago,https://www.cnbc.com/2023/09/30/55-year-old-wi...
4,Can the MIND diet lower your risk of dementia?...,20 Hours Ago,https://www.cnbc.com/2023/09/30/mind-diet-can-...
5,Government shutdown updates: Biden signs 45-da...,21 Hours Ago,https://www.cnbc.com/2023/09/30/government-shu...
6,This couple built a $40 million ice cream comp...,21 Hours Ago,https://www.cnbc.com/2023/09/30/ample-hills-co...
7,FAFSA won't open Oct. 1 this year—here's when ...,21 Hours Ago,https://www.cnbc.com/2023/09/30/fafsa-student-...
8,3 things that will impact stocks going into th...,21 Hours Ago,https://www.cnbc.com/2023/09/30/3-things-that-...
9,How much money you need to make to be in the t...,22 Hours Ago,https://www.cnbc.com/2023/09/30/how-much-money...
10,Meta has Apple to thank for giving its annual ...,22 Hours Ago,https://www.cnbc.com/2023/09/30/meta-has-apple...
11,"Why this 53-year-old American retiree, family ...",22 Hours Ago,https://www.cnbc.com/2023/09/30/american-retir...
12,Buy stocks like this homebuilder as interest r...,22 Hours Ago,https://www.cnbc.com/2023/09/30/buy-these-stoc...
13,Oil prices and the dollar surged in the third ...,22 Hours Ago,https://www.cnbc.com/2023/09/30/quarterly-inve...
14,"Danger, 'pothole' ahead: Economic growth slowi...",22 Hours Ago,https://www.cnbc.com/2023/09/30/danger-pothole...
15,Stocks enter October in a 2-month correction,23 Hours Ago,https://www.cnbc.com/2023/09/30/stocks-enter-o...
16,83% of Gen Z are job hoppers. How to handle ol...,23 Hours Ago,https://www.cnbc.com/2023/09/30/gen-z-workers-...
17,Cramer says don't make any moves right before ...,"September 29, 2023",https://www.cnbc.com/2023/09/29/cramer-says-do...
18,Cramer's Lightning Round: Caterpillar is a buy,"September 29, 2023",https://www.cnbc.com/2023/09/29/cramers-lightn...
19,Jim Cramer's week ahead: Focus on September jo...,"September 29, 2023",https://www.cnbc.com/2023/09/29/cramers-week-a...
20,These are the 10 most neighborly cities in the...,"September 29, 2023",https://www.cnbc.com/2023/09/29/neighborly-cit...
21,Expert: What a government shut down could mean...,"September 29, 2023",https://www.cnbc.com/2023/09/29/what-a-governm...
22,Federal judge declines to block Medicare drug ...,"September 29, 2023",https://www.cnbc.com/2023/09/29/medicare-price...
23,Nike shares pop after mixed first-quarter resu...,"September 29, 2023",https://www.cnbc.com/2023/09/29/nike-shares-po...
24,Bill Ackman’s 'SPARC' gets OK from the SEC and...,"September 29, 2023",https://www.cnbc.com/2023/09/29/bill-ackmans-s...
25,"JetBlue raises flight attendant pay, union agr...","September 29, 2023",https://www.cnbc.com/2023/09/29/jetblue-raises...
26,Biden’s pro-competition agenda tested as net n...,"September 29, 2023",https://www.cnbc.com/2023/09/29/bidens-pro-com...
27,55-year-old quit his job for his side hustle—h...,"September 29, 2023",https://www.cnbc.com/2023/09/29/how-55-year-ol...
28,Mark Cuban wants to give you personalized advi...,"September 29, 2023",https://www.cnbc.com/2023/09/29/mark-cuban-cou...
29,First co-defendant in Trump Georgia election c...,"September 29, 2023",https://www.cnbc.com/2023/09/29/first-co-defen...

Q- 6 Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title 
ii) Authors
iii) Published Date 
iv) Paper URL

In [37]:
#Send a GET request to the URL
response = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

#Parsing the content of HTML using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

#Finding all news articles on the web page
article_items = soup.find_all("li", class_="sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs")

#Creating empty Lists to store extracted data
paper_titles = []
authors_list = []
published_dates = []
paper_urls = []

#Iterating through the article content to extract article details
for item in article_items:
    # Extracting title of the article
    title = item.find("h2", class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg").get_text(strip=True)
    paper_titles.append(title)
    
    # Extracting the authors
    authors = item.find("span",{'class': "sc-1w3fpd7-0 dnCnAO"}).get_text(strip=True)
    authors_list.append(authors)
    
    # Extracting the published date
    published_date = item.find("span", class_="sc-1thf9ly-2 dvggWt").get_text(strip=True)
    published_dates.append(published_date)
    
    # Extracting the paper URL
    paper_url = item.find("a", class_="sc-5smygv-0 fIXTHm")["href"]
    paper_urls.append(paper_url)

#Creating a dictionary from the extracted data
data = {
    "Paper Title": paper_titles,
    "Authors": authors_list,
    "Published Date": published_dates,
    "Paper URL": paper_urls
}
#Creating a DataFrame from the dictionar
df = pd.DataFrame(data)

# Display the DataFrame
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

* Q7- Write a python program to scrape mentioned details from ‘https://www.dineout.co.in/delhi-restaurants/buffetspecial’ :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image url

In [20]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [21]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
# page content
soup=BeautifulSoup(page.content)

In [22]:
name=[]
for i in soup.find_all("div", class_="restnt-info cursor"):
    name.append(i.text) 
location=[]
for i in soup.find_all("div", class_="restnt-loc ellipsis"):
    location.append(i.text)

price = []
cuisine = []
for i in soup.find_all("span", class_="double-line-ellipsis"):
    price.append(i.text.split('|')[0])
    cuisine.append(i.text.split('|')[1])

rating=[]
for i in soup.find_all("div", class_="restnt-rating rating-3"):
    rating.append(i.text)
for i in soup.find_all("div", class_="restnt-rating rating-4"):
    rating.append(i.text)

images = []
for i in soup.find_all("img", class_="no-img"):
    images.append(i['data-src'])

In [23]:
print(len(name), len(location), len(price), len(cuisine), len(rating), len(images))

9 9 9 9 9 9

In [24]:
# Make data frame
DineOut=pd.DataFrame({})
DineOut['Restaurant Name']=name
DineOut['Location']=location
DineOut['Price']=price 
DineOut['Cuisine']=cuisine  
DineOut['Rating']=rating  
DineOut['IMAGES']=images
DineOut

,Restaurant Name,Location,Price,Cuisine,Rating,IMAGES
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","₹ 2,000 for 2 (approx)","Chinese, North Indian",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx)","Italian, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle's BarbequePacific Mall,Tagore Garden, W...","Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx)","Chinese, North Indian",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx)","North Indian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx)","North Indian, Chinese",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,800 for 2 (approx)",North Indian,3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,900 for 2 (approx)",North Indian,3.8,https://im1.dineout.co.in/images/uploads/resta...
7,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx)","North Indian, Mughlai",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,"The Barbeque TimesM2K Corporate Park,Sector 51...","M2K Corporate Park,Sector 51, Gurgaon","₹ 1,500 for 2 (approx)","North Indian, Continental, Chinese, South Indian",4.1,https://im1.dineout.co.in/images/uploads/resta...