1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.14.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
# importing necessary libreries.
import selenium 
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')
import time

In [3]:
# opening = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
driver = webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ")
time.sleep(2)
driver.maximize_window()

In [4]:
#creating emepty list to store details.
rank_list = []
name_list=[]
artist_list = []
upload_date= []
views = []

In [5]:
# scraping the all details required
ranks_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in ranks_tags:
    rank=i.text
    rank_list.append(rank)
name_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in name_tags:
    names=i.text
    name_list.append(names)
artist_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')  
for i in artist_tags:
    artist=i.text
    artist_list.append(artist)
up_date_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')  
for i in up_date_tags:
    date=i.text
    upload_date.append(date)
views_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]') 
for i in views_tags:
    view=i.text
    views.append(view)

In [6]:
print(len(rank_list),len(name_list),len(artist_list),len(upload_date),len(views))

30 30 30 30 30

In [7]:
df=pd.DataFrame({'Rank_list':rank_list,'Name_list':name_list,'Artist_list':artist_list,'Upload_date':upload_date,'Views':views})

In [8]:
df

,Rank_list,Name_list,Artist_list,Upload_date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.28
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.11
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.05
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.05
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",4.99
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.92
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.46
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.09
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.95
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.89
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.89
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.75
19,20.,"""Sorry""[44]",Justin Bieber,"October 22, 2015",3.72
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.71
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.67
22,23.,"""Dark Horse""[47]",Katy Perry,"February 20, 2014",3.60
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.56
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.53
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.53
27,28.,"""Girls Like You""[52]",Maroon 5,"May 31, 2018",3.50
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.48

In [15]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [16]:
import selenium 
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')
import time

# opening http://www.bcci.tv/
driver = webdriver.Chrome()
driver.get("http://www.bcci.tv/")
time.sleep(2)
driver.maximize_window()

In [17]:
button=driver.find_element(By.XPATH,'/html/body/div[4]/div/div/button')
button.click()

In [18]:
fixture_result=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
fixture_result.click()

In [19]:
all_team=driver.find_element(By.XPATH,'//div[@class="cSBDisplay ng-binding"]')
all_team.click()

In [20]:
india=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[2]/div[19]')
india.click()
time.sleep(5)

In [21]:
SERIES=[]
series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    series=i.text
    SERIES.append(series)
PLACE=[]
place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_tags:
    place=i.text
    PLACE.append(place)
DATE=[]   
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    date=i.text
    DATE.append(date)
TIMES=[]
time_tags=driver.find_elements(By.XPATH,'//DIV[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    time=i.text
    TIMES.append(time)

In [22]:
print(len(series),len(place),len(date),len(time))

32 35 18 12

In [25]:
df=pd.DataFrame({'SERIES':SERIES,'PLACE':PLACE,'DATE':DATE,'TIMES':TIMES})
df

,SERIES,PLACE,DATE,TIMES
0,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad","14 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi","11 OCTOBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai","8 OCTOBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023",2:00 PM IST
...,...,...,...,...
108,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","31 AUGUST, 2022",7:30 PM IST
109,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","28 AUGUST, 2022",7:30 PM IST
110,INDIA WOMEN TOUR OF ENGLAND 2022,"County Ground, Bristol","15 SEPTEMBER, 2022",11:00 PM IST
111,INDIA WOMEN TOUR OF ENGLAND 2022,"County Ground, Derby","13 SEPTEMBER, 2022",10:30 PM IST
112,INDIA WOMEN TOUR OF ENGLAND 2022,"Riverside Ground, Chester-le-Street","10 SEPTEMBER, 2022",11:30 PM IST

In [27]:
driver.close()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [64]:
import selenium 
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')
import time

# opening =http://statisticstimes.com/ 
driver = webdriver.Chrome()
driver.get("http://statisticstimes.com/")
time.sleep(2)
driver.maximize_window()

In [66]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [67]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [14]:
GDP_india=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_india.click()

In [15]:
#creating empty list to store the data
ranks=[]
states=[]
GSDP_18_19=[]
GSDP_19_20=[]
share_18_19=[]
GDP=[]

In [16]:
#extracting all webelement and store to given empty list
ranks_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in ranks_tags:
    rank=i.text
    ranks.append(rank)
states_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]') 
for i in states_tags:
    state=i.text
    states.append(state)
gsdp_1=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp_1:
    gsdp=i.text
    GSDP_18_19.append(gsdp)
gsdp_2=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in gsdp_2:
    gsdp=i.text
    GSDP_19_20.append(gsdp)
share_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in share_tags:
    share=i.text
    share_18_19.append(share)
gdp_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp_tags:
    gdp=i.text
    GDP.append(gdp)

In [17]:
print(len(ranks),len(states),len(GSDP_18_19),len(GSDP_19_20),len(share_18_19),len(GDP))

33 33 33 33 33 33

In [18]:
df=pd.DataFrame({'RANKS':ranks,'STATES':states,'GSDP_18_19':GSDP_18_19,'GSDP_19_20':GSDP_19_20,'SHARE_18_19':share_18_19,'GDP':GDP})
df

   RANKS                     STATES GSDP_18_19 GSDP_19_20 SHARE_18_19      GDP
0      1                Maharashtra  2,632,792          -      13.94%  399.921
1      2                 Tamil Nadu  1,630,208  1,845,853       8.63%  247.629
2      3              Uttar Pradesh  1,584,764  1,687,818       8.39%  240.726
3      4                    Gujarat  1,502,899          -       7.96%  228.290
4      5                  Karnataka  1,493,127  1,631,977       7.91%  226.806
5      6                West Bengal  1,089,898  1,253,832       5.77%  165.556
6      7                  Rajasthan    942,586  1,020,989       4.99%  143.179
7      8             Andhra Pradesh    862,957    972,782       4.57%  131.083
8      9                  Telangana    861,031    969,604       4.56%  130.791
9     10             Madhya Pradesh    809,592    906,672       4.29%  122.977
10    11                     Kerala    781,653          -       4.14%  118.733
11    12                      Delhi    774,870    856,112       4.10%  117.703
12    13                    Haryana    734,163    831,610       3.89%  111.519
13    14                      Bihar    530,363    611,804       2.81%   80.562
14    15                     Punjab    526,376    574,760       2.79%   79.957
15    16                     Odisha    487,805    521,275       2.58%   74.098
16    17                      Assam    315,881          -       1.67%   47.982
17    18               Chhattisgarh    304,063    329,180       1.61%   46.187
18    19                  Jharkhand    297,204    328,598       1.57%   45.145
19    20                Uttarakhand    245,895          -       1.30%   37.351
20    21            Jammu & Kashmir    155,956          -       0.83%   23.690
21    22           Himachal Pradesh    153,845    165,472       0.81%   23.369
22    23                        Goa     73,170     80,449       0.39%   11.115
23    24                    Tripura     49,845     55,984       0.26%    7.571
24    25                 Chandigarh     42,114          -       0.22%    6.397
25    26                 Puducherry     34,433     38,253       0.18%    5.230
26    27                  Meghalaya     33,481     36,572       0.18%    5.086
27    28                     Sikkim     28,723     32,496       0.15%    4.363
28    29                    Manipur     27,870     31,790       0.15%    4.233
29    30                   Nagaland     27,283          -       0.14%    4.144
30    31          Arunachal Pradesh     24,603          -       0.13%    3.737
31    32                    Mizoram     22,287     26,503       0.12%    3.385
32    33  Andaman & Nicobar Islands          -          -           -        -

In [19]:
driver.close()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [74]:
#importing important libreries.
import selenium 
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')
import time

# opening = https://github.com/
driver = webdriver.Chrome()
driver.get("https://github.com/")
time.sleep(2)
driver.maximize_window()

In [75]:
button=driver.find_element(By.XPATH,'//button[@class="js-details-target Button--link Button--medium Button d-lg-none color-fg-inherit p-1"]')
button.click()

In [76]:
search=driver.find_element(By.XPATH,'//button[@class="header-search-button placeholder input-button form-control d-flex flex-1 flex-self-stretch flex-items-center no-wrap width-full py-0 pl-2 pr-0 text-left border-0 box-shadow-none"]')
search.click()

In [77]:
input=driver.find_element(By.XPATH,'//input[@id="query-builder-test"]')
input.send_keys("trending repositories")

In [79]:
search_all=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[2]/ul/li/ul/li/span/span[3]')
search_all.click()

In [41]:
Repositories_title=[]
repository_tags=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 qaOIC search-match"]')
for i in repository_tags:
    repository=i.text
    Repositories_title.append(repository)
Repository_description=[]
repo_desc=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 kWPXhV search-match"]')
for i in repo_desc:
    repository_desc=i.text
    Repository_description.append(repository_desc)
url=

In [43]:
details = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/main/react-app/div/div/div[1]/div/div/main/div[2]/div/div[1]/div[4]/div/div/div[1]/div/div[1]/h3/div/div[2]/a/span')

for detail in details:
    detail.click()

In [34]:
print(len(Repository_description))

10

In [ ]:
Contributors_count=[]
conti_count=driver.find_elements(By.XPATH,'')

In [ ]:
Language_used=[]
lang_use=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/react-app/div/div/div[1]/div/div/main/div[2]/div/div[1]/div[4]/div/div/div[1]/div/div[1]/ul/li[1]/span')
for i in lang_use:
    lang=i.text
    Language_used.append(lang)

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [7]:
#importing important libreries.
import selenium 
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')
import time

# opening  https:/www.billboard.com/ 
driver = webdriver.Chrome()
driver.get("https:/www.billboard.com/ ")
time.sleep(2)
driver.maximize_window()

In [8]:
menu=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
menu.click()

In [9]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button')
charts.click()

In [10]:
hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
hot_100.click()
time.sleep(5)

In [11]:
Songs_name=[]
songs_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3')
for i in songs_tags:
    songs=i.text
    Songs_name.append("songs")

In [12]:
len(Songs_name)

0

In [14]:
df=pd.DataFrame({'SONGS_NAME':Songs_name})
df

Empty DataFrame
Columns: [SONGS_NAME]
Index: []

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [32]:
#importing important libreries.
import selenium 
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')
import time

# opening https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare 
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(2)
driver.maximize_window()

In [34]:
Book_name=[]
Author_name=[] 
Volumes_sold=[] 
Publisher=[] 
Genre=[] 
books_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in books_tags:
    bookes=i.text
    Book_name.append(bookes)
author_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_tags:
    authors=i.text
    Author_name.append(authors)
volume_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume_tags:
    volume=i.text
    Volumes_sold.append(volume)
publisher_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher_tags:
    publisher=i.text
    Publisher.append(publisher)
genre_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre_tags:
    genre=i.text
    Genre.append(genre)

In [36]:
print(len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [39]:
df=pd.DataFrame({'BOOK_NAME':Book_name,'AUTHOR_NAME':Author_name,'VOLUMES_SOLD':Volumes_sold,'PUBLISHER':Publisher,'GENRE':Genre})
df

,BOOK_NAME,AUTHOR_NAME,VOLUMES_SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [40]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [41]:
#importing important libreries.
import selenium 
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')
import time

# opening https://www.imdb.com 
driver = webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(2)
driver.maximize_window()

In [50]:
Name=[]
Year_span=[] 
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]
name_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-index unbold text-primary"]')
for i in name_tags:
    names=i.text
    Name.append(names)
year_span_tags= driver.find_elements(By.XPATH,'//span [@class="lister-item-year text-muted unbold"]') 
for i in year_span_tags:
    year_span=i.text
    Year_span.append(year_span)
genre_tags=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tags:
    genre=i.text
    Genre.append(genre)
run_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')   
for i in run_tags:
    run=i.text
    Run_time.append(run)
rating_tags=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating_tags:
    rating=i.text
    Ratings.append(rating)
vote_tags=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote_tags:
    vote=i.text
    Votes.append(vote)

In [51]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [54]:
df=pd.DataFrame({'NAME':Name,'YEAR_SPAN':Year_span,'GENRE':Genre,'RUN_TIME':Run_time,'RATINGS':Ratings,'VOTES':Votes})
df

    NAME    YEAR_SPAN                     GENRE RUN_TIME RATINGS      VOTES
0     1.  (2011–2019)  Action, Adventure, Drama   57 min     9.2  2,213,876
1     2.  (2016–2025)    Drama, Fantasy, Horror   51 min     8.7  1,283,579
2     3.  (2010–2022)   Drama, Horror, Thriller   44 min     8.1  1,050,594
3     4.  (2017–2020)  Drama, Mystery, Thriller   60 min     7.5    308,674
4     5.  (2014–2020)    Drama, Mystery, Sci-Fi   43 min     7.6    267,613
..   ...          ...                       ...      ...     ...        ...
95   96.  (2013–2017)                     Drama   42 min     7.5     52,969
96   97.  (2017–2019)  Adventure, Comedy, Drama   50 min     7.8     65,033
97   98.     (2005– )     Crime, Drama, Mystery   42 min     8.1    211,964
98   99.  (2015–2019)      Comedy, Crime, Drama   45 min       7     44,120
99  100.       (2018)    Drama, Horror, Mystery  572 min     8.6    270,482

[100 rows x 6 columns]

In [56]:
driver.close()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [83]:
#importing important libreries.
import selenium 
import pandas as pd
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
warnings.filterwarnings('ignore')
import time

# opening https://archive.ics.uci.edu/
driver = webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")
time.sleep(2)
driver.maximize_window()

In [84]:
search_box = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/div[2]/div[2]/form/div/div/div[2]/div[1]/input')
search_box.send_keys(" All Dataset ")
button=driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm join-item btn"]')
button.click()

In [85]:
product_url=[]
url=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in url:
    product_url.append(i.get_attribute("href"))

In [ ]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[] 
dataset_name=diver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in dataset_name:
    dataset=i.text
    Dataset_name.append(dataset)

In [ ]:
for url in product_url:
    driver.get(url)
    try: